<% if user_signed_in? %>
  <div class="list-section mt-3 col-lg-10 mx-auto">
    <h3>参加したイベント (<%= @done_events.release.count %>)</h3>
    <% if current_user.events.any? %>
    <%= render 'events/timeline', user: current_user,
                                  done_events: @done_events,
                                  upcomming_events: @upcomming_events,
                                  unsolved_events: @unsolved_events %>
    <% end %>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>LIVCALE</h1>
    <h2>
      This is the home page for the
      <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a>
      sample application.
    </h2>
    <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
