<% provide(:title, "#{@user.name}の日本地図") %>
<div id="regions_div"></div>
<script src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['geochart']});
  google.charts.setOnLoadCallback(drawRegionsMap);
  function drawRegionsMap() {
    var data = google.visualization.arrayToDataTable(gon.prefectures);
    var options = { region: 'JP', resolution: 'provinces' };
    var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
    chart.draw(data, options);
  }
</script>