<% provide(:title, @user.name) %>
<div class="d-flex flex-column">
  <%= render 'user_section', user: @user %>
</div>
<div class="list-section mt-5">
  <% if @user.events.any? %>
    <h3>参加したイベント (<%= @done_events.release.count %>)</h3>
    <%= render 'events/timeline', user: @user,
                                  done_events: @done_events,
                                  upcomming_events: @upcomming_events,
                                  unsolved_events: @unsolved_events %>
  <% end %>
</div>
