<% provide(:title, @title) %>
<div class="d-flex flex-column">
  <%= render 'user_section', user: @user %>
  <div class="list-section mt-5 col-lg-10 mx-auto">
    <div class="headline">
      <h3><%= @title %></h3>
    </div>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= paginate @users %>
    <% end %>
  </div>
</div>