<% provide(:title, @user.name) %>
<div class="d-flex flex-column">
  <%= render 'user_section', user: @user %>
</div>
<div class="list-section col-lg-10 mx-auto">
  <% if @user.tickets.any? %>
    <h3>参加済みのチッケト (<%= @user.tickets.done.release.count %>枚)</h3>
    <%= render 'tickets/timeline', user: @user,
                                  done_tickets: @done_tickets,
                                  upcomming_tickets: @upcomming_tickets,
                                  unsolved_tickets: @unsolved_tickets %>
  <% end %>
</div>
