<% provide(:title, @user.name) %>
<%= render 'user_section', user: @user %>
<div class="row">
  <div class="list-section">
    <% if @user.tickets.any? %>
      <h3 id="user-ticket"><%= "#{@user.name}のチケット" %></h3>
      <%= render 'tickets/timeline', user: @user,
                                    done_tickets: @done_tickets,
                                    upcomming_tickets: @upcomming_tickets,
                                    unsolved_tickets: @unsolved_tickets %>
    <% end %>
  </div>
</div>