<div class="stats d-flex justify-content-center">
  <a href="<%= following_user_path(user) %>">
    <strong id="following" class="stat">
      <%= user.following.count %>
    </strong>
    <small>フォロー中</small>
  </a>
  <a href="<%= followers_user_path(user) %>">
    <strong id="followers" class="stat">
      <%= user.followers.count %>
    </strong>
    <small>フォロワー</small>
  </a>
</div>