<% provide(:title, "みんなのチケット") %>
<div class="list-section col-lg-10 mx-auto">
  <div class="headline">
    <h3>フォロー中のユーザーと自分のチケット</h3>
  </div>
  <% if @ticket.any? %>
    <%= render 'timeline', user: current_user,
                                 done_tickets: @done_tickets,
                                 upcomming_tickets: @upcomming_tickets,
                                 unsolved_tickets: @unsolved_tickets %>
  <% else %>
    <p class="mt-3">チケットはまだありません</p>
  <% end %>
</div>