<% provide(:title, "みんなのチケット") %>
<div class="list-section col-lg-10 mx-auto">
  <% if @ticket.any? %>
    <div class="headline">
      <%= image_tag "/images/8note.png", class: "eight-note" %>
      <h3>フォロー中のユーザーと自分のチケット</h3>
    </div>
    <%= render 'timeline', user: current_user,
                                 done_tickets: @done_tickets,
                                 upcomming_tickets: @upcomming_tickets,
                                 unsolved_tickets: @unsolved_tickets %>
  <% else %>
    <h3>チケットはまだありません</h3>
  <% end %>
</div>