@import "bootstrap";

.container {
  @extend .container-fluid;
  padding: 2rem;
}

#wrapper {
  width: 100vw;
}

.main-wrapper {
  width: 100%;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
  box-sizing: border-box;
  background-color: whitesmoke
}

@media (min-width: 720px) {
  .main-wrapper {
    margin-left: 15rem;
  }
}

.form-container {
  @extend .container-fluid;
  max-width: 600px;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

a {
  color: black;
  &:hover {
    text-decoration: none;
  }
}

.headline {
  display: flex;
  align-items: center;
  img {
    height: 90px;
    margin: 0 0.3rem;
  }
  h3 {
    padding: 0 1rem;
    margin: 0;
    line-height: 2.5rem;
    border-width: 10px 0;
    border-style: groove;
    background-color: white;
  }
}

#logo {
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  color: crimson;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.edit-mark {
  margin: 0 0.5rem;
  padding: 0.5rem;
  background-color: lightgray;
}

/* header */

#header-wrapper {
  background-color: whitesmoke;
  border-bottom: 1px solid lightgray;
}

@media (min-width: 720px) {
  #header-wrapper {
    display: none;
  }
}

/* searchbar */

#searchbar {
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
  justify-content: center;
}

.search-form {
  height: 30px;
}

@media (max-width: 720px) {
  #searchbar {
    display: none;
  }
}

/* sidebar */

#sidebar-wrapper {
  background-color: whitesmoke;
  color: black;
  text-shadow:1px 1px 0 #FFF, -1px -1px 0 #FFF,
              -1px 1px 0 #FFF, 1px -1px 0 #FFF,
              0px 1px 0 #FFF,  0-1px 0 #FFF,
              -1px 0 0 #FFF, 1px 0 0 #FFF;

  width: 15rem;
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin .25s ease-out;
  position: fixed;
  top: 0px;
  z-index: 10;
  .sidebar-heading {
    color: crimson;
    padding: 0.875rem 1.25rem 0 1.25rem;
    font-size: 2.2rem;
    display: block;
    text-align: center;
  }
  .clef {
    height: 700px;
    background-image: url(treble_clef_gray.png);
    background-size: contain;
    // background-color: rgb(245, 243, 219);
    background-color: whitesmoke;
    background-blend-mode: color-dodge;
    .current-user-section {
      height: 240px;
      
      
      margin: 0 1.25rem;
      img {
        margin-top: 30px;
        margin-bottom: 5px;
        width: 160px;
        height: 160px;
        border: 2px solid black;
      }
      a {
        font-size: 1.5rem;
        &:hover{
          color:crimson;
        }
        h1 {
          text-align: center;
        }
      }
    }
    .list-group {
      width: 15rem;
      .list-group-item-action {
        padding-top: 0.2rem;
        padding-bottom: 0.3rem;
        font-weight: bold;
        border: 0;
        &:hover{
          color: crimson;
        }
        imput {
          margin-left: 0.3rem;
        }
      }
      .far, .fas {
        margin: 0.25rem;
      }
    }
  }
}

section {
  span {
    display: block;
    margin-bottom: 3px;
    line-height: 1;
  }
  h1 {
    font-size: 1.4em;
    text-align: left;
    letter-spacing: -1px;
    margin-bottom: 3px;
    margin-top: 0px;
  }
}

@media (min-width: 720px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
}

/* footer */

footer {
  width: 100%;
  height: 50px;
  padding-top: 10px;
  color:black;
  position: absolute;
  bottom: 0;
  background-color: whitesmoke;
  border-top: 1px solid lightgrey;
  small {
    text-align: center;
    display: block;
  }
}

/* timeline */

.timeline {
  margin-top: 1rem;
}

#unsolved {
  .unsolved-explanation {
    margin-top: 10px;
    padding: 10px 30px;
    background-color: lightpink;
    border: 2px solid #333;
    border-radius: 0.3rem;
    p {
      margin-bottom: 0;
    }
  }
  .unsolved-alert {
    display: block;
    a {
      display: block;
    }
  }
}

/* user_section */

.user-section {
  background-color: white;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 0.3rem;
  .user-section-left {
    text-align: center;
    .avatar {
      height: 150px;
      width: 150px;
    }
    .name {
      font-size: 2rem;
    }
    .stats {
      overflow: auto;
      margin-top: 5px;
      a {
        margin: 0 10px;
        padding: 0.5rem;
        background-color: lightgray;
        border-radius: 0.5rem;
        color: black;
        &:hover {
          text-decoration: none;
          background-color: crimson;
        }
      }
      strong {
        display: block;
      }
    }
  }
  .user-section-right {
    .user-items {
      p {
        display: inline;
        margin: 0;
      }
      .fas {
        margin-right: 5px;
      }
    }
  }
}


.modal-dialog {
  h4 {
    text-align: center;
  }
}

/* home */

.spotify-section {
  a {
    text-align: center;
  }
  .artist-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  .track-url {
    padding: 0.3rem;
    background-color: lightgray;
    border-radius: 0.3rem;
  }
}

.second-section-info {
  border: 2px solid #333;
  border-radius: 0.3rem;
  background-color: white;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0;
  .recommends-setion {
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .index {
      background: linear-gradient(transparent 70%, lightgray 70%);
    }
  }
  #regions {
    border: 2px solid #333;
    border-radius: 0.3rem;
  }
}

.top {
  padding-top: 40px;
  height: 500px;
  background-image: url(live.png);
  background-size: cover;
  background-color: white;
  text-align: center;
  h1 {
    color: crimson;
  }
}
.signup {
  text-align: center;
  background-color: black;
  color: white;
  padding-bottom: 30px;
  a {
    font-size: 30px;
    font-weight: bold;
    padding: 15px;
    width: 80%;
  }
}

/* list */

.tickets, .users {
  list-style: none;
  padding: 0;
  li {
    padding: 4%;
    margin: 10px 0;
    border-radius: 0.3rem;
    background-color: white;
    border: 2px solid #333;
  }
}

#done {
  .tickets {
    li {
      position: relative;
      z-index: 0;
    }
    li:after {
      content:"";
      position: absolute;
      right: 0px;
      bottom: -2px;
      left: 50%;
      width: 0px;
      height: 0px;
      margin: auto;
      border-style: solid;
      border-color: transparent whitesmoke whitesmoke whitesmoke;
      border-width: 20px 20px 15px 20px;
      z-index: 1;
    }
  }
}

.ticket-partial, .user-partial {
  a {
    color: #212529;
    &:hover {
      text-decoration: none;
    }
  }
  .ticket, .user {
    text-decoration: none;
    color: #212529;
    .fas {
      margin-right: 0.25rem;
    }
    .ticket-left-1, .user-left {
      width: 100px;
      flex-shrink: 0;
      .date {
        font-weight: bold;
        font-size: 20px;
      }
    }
    .ticket-left-2, .user-center {
      margin: 0 10px;
      .user-name {
        display: block;
        font-size: 15px;
        font-weight: bold;
      }
      .ticket-name, .name {
        display: block;
        font-weight: bold;
        font-size: 30px;
      }
      .performer {
        overflow: hidden;
        height: 3.6em;
        font-size: 16px;
        line-height: 1.8;
      }
      .profile {
        display: block;
        overflow: hidden;
        width: 100%;
        height: 2em;
        line-height: 2; 
      }
    }
    .ticket-right {
      align-items: center;
      .content {
        display: block;
        overflow: hidden;
        max-width: 400px;
        border: 1px solid gray;
        border-radius: 0.5rem;
        padding: 0.5rem;
      }
      img {
        margin-left: 0.5em;
      }
    }
  }
}

.unsolved-alert {
  display: none;
  border: 1px solid black;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: lightgrey;
  p {
    padding: 0;
  }
  ul {
    list-style: none;
    li {
      background-color: lightpink;
    }
  }
}

.ticket-show {
  table, td, th {
    margin: 30px 0;
    border-bottom: 1px solid gray
  }
  .user-name {
    font-size: 2rem;
    margin-left: 10px;
    line-height: 50px;
  }
  table {
    width: 100%;
    margin-right: 0;
    .fas, .far {
      margin-left: 1rem;
      width: 4rem;
    }
  }
  .ticket-column {
    padding: 1rem 0;
    font-size: 1.5rem;
    .content {
      padding-bottom: 0;
    }
  }
  .edit {
    display: block;
  }
}

.side-section {
  text-align: center;
}

/* comment */


.comment-list {
  a {
    color: #212529;
    text-decoration: none;
  }
  .content {
    margin-left: 2rem;
    margin-left: 2rem;
    display: block;
    width: 90%;
    word-break:break-all
  }
}

.comment-partial {
  li {
  padding: 10px 0;
  border-top: 1px solid #e8e8e8;
  list-style: none;
  }
}

.comment-form {
  .area {
    width: 100%;
  }
}

/* notification */

.circle {
  position: absolute;
  padding-left: 1rem;
  padding-top: 0rem;
  color: #efa04c;
}

/* tos */

#tos {
  ol {
    // margin-top: 2rem;
  }
  table, td, tr{
    border: 1px solid gray;
    tr:first-child td {
      width:100px;
    }
  }
}