@import "bootstrap";

.container {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

/* footer */

footer {
  height: 50px;
  padding-top: 10px;
  color: whitesmoke;
  small {
    text-align: center;
    display: block;
  }
}